<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

<head>
	<thymeleaf th:replace="layouts/head :: head" />
</head>

<body class="app app-reset-password p-0">
	<div class="row g-0 app-auth-wrapper">
		<div class="col-12 col-md-7 col-lg-6 text-center p-5 m-sm-auto">
			<div class="d-flex flex-column align-content-end">
				<div class="app-auth-body mx-auto">
					<div class="app-auth-branding mb-4"><a class="app-logo" href="#"><img class="logo-icon mr-2"
								src="assets/images/logo.svg" alt="logo"></a></div>
					<h2 class="auth-heading text-center mb-4">Password Reset</h2>

					<div class="auth-intro mb-4 text-center">Enter your new password</div>

					<div class="auth-form-container text-left">

						<form class="auth-form resetpass-form" th:action="@{/new-password}" th:object="${passwordCommand}" th:method="POST">
							<div class="mb-3">
								<input th:field="*{username}" id="username" name="username"
									type="hidden">
							</div>
							<!-- //form-group -->
							
							<div class="mb-3">
								<input th:field="*{passwordToken}" id="password-token" name="password-token"
									type="hidden">
							</div>
							<!-- //form-group -->

							<div id="password" class="mb-3">
								<label class="sr-only" for="new-password">Password</label>
								<div class="password-toggle position-relative">
									<input th:field="*{password}" id="new-password" name="new-password"
										type="password" class="form-control new-password"
										placeholder="New password"
										pattern="^(?!.* )(?=.*\d)(?=.*[A-Z])(?=.*[a-z]).{8,30}$"
										oninvalid="this.setCustomValidity('Password must contain 8 or more characters that are of at least one number,  one uppercase and lowercase letter and not a whitespace')"
										oninput="this.setCustomValidity('')" required="required">
									<i class="far fa-eye" id="toggle-icon"></i>
								</div>


								<th:block th:if="${#fields.hasErrors('password')}">
									<div class="alert alert-danger alert-dismissible fade show mt-1 text-start"
										role="alert">
										<span th:each="error : ${#fields.errors('password')}" th:text="${error}"
											style="white-space: pre-line; font-size: 0.75rem;"></span>
										<button type="button" class="btn-close btn-xs" data-bs-dismiss="alert"
											aria-label="Close"></button>
									</div>
									//password-validation
								</th:block>


							</div>
							<!--//form-group-->
							<div class="text-center">
								<button type="submit" class="btn app-btn-primary btn-block theme-btn mx-auto">Save
									Password</button>
							</div>
						</form>
						

						<div class="auth-option text-center pt-5"><a class="app-link" th:href="@{/login}">Log in</a>
						</div>
					</div>
					<!--//auth-form-container-->



				</div>
				<!--//auth-body-->

			</div>
			<!--//flex-column-->
		</div>
		<!--//auth-main-col-->

	</div>
	<!--//row-->

	<script>
		const toggleIcon = document.querySelector('#toggle-icon');
		const password = document.querySelector("input[type='password']");
		toggleIcon.addEventListener('click', function (e) {
			// toggle the type attribute
			const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
			password.setAttribute('type', type);
			// toggle the eye slash icon
			this.classList.toggle('fa-eye-slash');
		});
	</script>
</body>

</html>